/*! -- Breadcrumbs styles----------------------------- */
.breadcrumbs {
	background-color: $colors-full-white;
	padding: 16px 0;

	.breadcrumbs__list {
		span {
			display: flex;
			flex-direction: row;
			align-items: center;
			column-gap: 16px;
			color: $graphite-400;
			font-size: 14px;
			line-height: 1.3;

			.links {
				display: flex;
				flex-direction: row;
				align-items: center;
				column-gap: 4px;
				color: $graphite-800;
				font-size: 14px;
				line-height: 1.3;
				white-space: nowrap;

				&:hover {
					color: $green-300;
				}

				&:active {
					color: $green-800;
				}
			}


		}

	}

	&__last {
		white-space: nowrap;
	}
}



@media (max-width:$md1) {

	/*! -- Breadcrumbs styles----------------------------- */
	.breadcrumbs {
		padding: 8px 0;

		&__container {
			padding: 0 16px;
		}
	}
}