/*! -- Buttons styles----------------------------- */
.btn-full,
.btn-outline {
	width: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 8px;
	color: $graphite-source;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
	padding: 13.5px;
	background-color: $green-source;
	border-radius: 16px;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border: 2px solid transparent;

	svg {
		path {
			transition: all 0.3s ease 0s;
		}
	}

	&:active {
		background-color: $graphite-900;
	}

	&.blocked {
		background: rgba(94, 94, 96, 0.15);
		color: $graphite-500;
		pointer-events: none;

		svg {
			path {
				fill: $graphite-500;
			}
		}
	}

	&.blocked:focus {
		outline: none;
	}
}



.btn-outline {
	color: $graphite-900;
	background-color: transparent;
	border: 2px solid $green-source;

	&:active {
		color: $colors-full-white;

		svg {
			path {
				fill: $colors-full-white;
			}
		}
	}

	&.blocked {
		background: rgba(94, 94, 96, 0.15);
		color: $graphite-500;
		pointer-events: none;
		border: 0;

		svg {
			path {
				fill: $graphite-500;
			}
		}
	}

	&.blocked:focus {
		outline: none;
	}
}

@media (any-hover: hover) {

	.btn-full {
		&:hover {
			border: 2px solid $green-source;
			background-color: $graphite-800;
		}

		&:active {
			background-color: $graphite-900;
		}
	}

	.btn-outline {
		color: $graphite-900;
		background-color: transparent;
		border: 2px solid $green-source;

		&:hover {
			color: $colors-full-white;
			background-color: $graphite-800;

			svg {
				path {
					fill: $colors-full-white;
				}
			}
		}

		&:active {
			color: $colors-full-white;
			background-color: $graphite-900;

			svg {
				path {
					fill: $colors-full-white;
				}
			}
		}
	}
}

@media (max-width:$md1) {

	/*! -- Buttons styles----------------------------- */
	.btn-full {
		padding: 12px;
	}

	.btn-outline {
		padding: 9px 12px;
	}
}