$graphite-source: #F8F8FA;
$graphite-900: #39393A;
$graphite-800: #4B4B4D;
$graphite-700: #5E5E60;
$graphite-600: #727274;
$graphite-500: #868688;
$graphite-400: #9B9B9D;
$graphite-300: #B0B0B2;
$graphite-200: #C6C6C7;
$graphite-100: #DDDDDD;
$graphite-50: #F3F3F4;

$green-source: #8AB32C;
$green-900: #274000;
$green-800: #325500;
$green-700: #406A00;
$green-600: #547E00;
$green-500: #6A9301;
$green-400: #83A731;
$green-300: #9EBB58;
$green-200: #BACF83;
$green-100: #D6E2B2;
$green-50: #F2F5E5;

$colors-2-link: #657FC0;
$colors-2-promo-badge: #FF4B24;
$colors-background-placeholder: #F9F9F9;
$colors-badgebackground: #E1EFFE;
$colors-chat-bubble-color: #EBEEF4;
$colors-full-black: #000000;
$colors-full-white: #FFFFFF;
$colors-link: #1E429F;
$colors-promo-badge: #F38332;
$colors-text-badge: #1E429F;