/*! -- About styles----------------------------- */
.about {
	position: relative;
	padding: 585px 0 0;

	.bg-holder {
		height: 769px;
		z-index: 2;

		img {
			object-fit: cover;
		}
	}

	.promo {

		&__inner {
			row-gap: 44px;
		}

		&__content {
			row-gap: 44px;
		}

		h3 {
			font-size: 32px;
		}

		p {
			max-width: 100%;
		}
	}



	.card {
		&__inner {
			border: 2px solid transparent;
			transition: all 0.3s ease 0s;
		}

		h3,
		p,
		h4,
		span {
			transition: all 0.3s ease 0s;
		}
	}

	&-slide {
		&:hover {
			.card__inner {
				background: $graphite-900;
				border: 2px solid $green-source;

				h4 {
					color: $colors-full-white;
				}

				h3 {
					color: $graphite-50;
				}

				span {
					color: $green-50;
				}

				p {
					color: $graphite-300;
				}
			}
		}
	}



}

@media (max-width:$md1) {

	/*! -- About styles----------------------------- */
	.about {
		padding: 252px 0 32px;

		.bg-holder {
			height: 276px;

			img {
				object-position: unset;
			}
		}

		&__nav {
			display: none;
		}

		&-slide {
			width: 25%;
			min-width: 256px;
			max-width: 100%;
			flex: 1;
			display: flex;
		}

		.swiper-wrapper {
			flex-wrap: wrap;
			gap: 16px;
		}

		.promo {
			min-height: 287px;

			&__logo-holder {
				width: 115px;
				height: 30px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			h3 {
				font-size: 16px;
				line-height: 1.3;
			}

			&__inner {
				row-gap: 16px;
			}

			&__content {
				row-gap: 16px;
			}
		}

		.card {
			min-height: 287px;
			max-width: 100%;

			h3 {
				font-size: 16px;
			}

			p {
				font-size: 14px;
				line-height: 1.3;
			}

			&__inner {
				justify-content: start;
				row-gap: 16px;
			}
		}
	}
}