@import "fonts";
@import "base/mixins";
@import "base/colors";



$fontFamily: "OpenSans", sans-serif;
$fontSize: 16px;

$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1208px;
$md1: 1279px;
$md2: 1024px;
$md3: 767px;
$md4: 575px;

@import "base/null";

body {
	&.lock {
		overflow: hidden;
	}

	font-size: $fontSize;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	color: $graphite-500;
	background-color: $graphite-50;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;

}

.bg-noise-holder {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-size: 200px 200px;
	background-repeat: repeat;
	opacity: 0.75;
	mix-blend-mode: overlay;
	z-index: 2;
	user-select: none;
	pointer-events: none;
}

.bg-holder {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	user-select: none;
	pointer-events: none;

	img {
		width: 100%;
		height: 100%;
		object-fit: fill;
		object-position: 50% 50%;
	}
}


.logo {
	a {
		display: flex;
	}
}

.container {
	position: relative;
	z-index: 3;
	width: 100%;
	max-width: $maxWidthContainer;
	margin: 0 auto;
	padding: 0 16px;

	@media (max-width: $md1) {
		max-width: 100%;
		padding: 0 32px;
	}

	@media (max-width: $md2) {}

	@media (max-width: $md3) {}

	@media (max-width: $md4) {}
}

.content {
	flex: 1 1 auto;
}


#typewriter {
	color: $graphite-900;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}

.title {
	color: $graphite-900;
	font-size: 48px;
	font-weight: 700;
	line-height: 1.3;

	i {
		font-style: italic;
		color: $green-source;
		font-weight: 300;
	}
}

.subtitle {
	color: $green-source;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.3;
	margin: 0 0 8px 0;
}

@media (max-width:$md1) {
	.subtitle {
		font-size: 14px;
	}

	.title {
		font-size: 24px;
	}

	#typewriter {
		font-size: 14px;
		line-height: 1.3;
	}
}


@import "base/swiper";
@import "base/arguments";
@import "base/chat";
@import "base/promo";
@import "base/rating";
@import "base/accordion";
@import "base/form";
@import "base/inputs";
@import "base/links";
@import "base/buttons";
@import "base/social";
@import "base/cards";
@import "base/badge";
@import "base/person";
@import "blocks/header";
@import "blocks/hero";
@import "blocks/reasons";
@import "blocks/cta";
@import "blocks/about";
@import "blocks/prices";
@import "blocks/team";
@import "blocks/partners";
@import "blocks/faq";
@import "blocks/footer";